body {
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    font-family: Arial, sans-serif;
}


.container {
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 18px;
    color: #555;
}

a {
    background-color: #3498db;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 6px;
}

a:hover {
    background-color: #e74c3c;
}

img {
    width: 300px;
    border-radius: 10px;
}